venv
.venv
api.py
setup.py
python/sys_pref/suricata/logs
python/security_related/datasets/TII-SSRC-23/pcap
python/security_related/datasets/TII-SSRC-23/ground_truth
python/security_related/datasets/UNSW-NB15/pcap
python/security_related/datasets/UNSW-NB15/ground_truth
python/security_related/suricata/logs
python/security_related/suricata/config
python/security_related/snort/logs
python/security_related/snort/config
python/security_related/zeek/logs
python/security_related/zeek/config


