venv
.venv
api.py
setup.py
img
*__pycache__
python/sys_pref/suricata/logs
python/security_related/datasets/TII-SSRC-23/pcap
python/security_related/datasets/TII-SSRC-23/ground_truth
python/security_related/zeek/config
python/security_related/datasets
python/security_related/zeek/config
python/security_related/datasets/UNSW-NB15/pcap
python/security_related/datasets/UNSW-NB15/ground_truth
python/security_related/suricata/logs
python/security_related/suricata/config
python/security_related/snort3/logs
python/security_related/snort3/config
python/security_related/zeek/logs
python/system_related/suricata/logs
python/system_related/suricata/config
python/system_related/suricata/perf_files*
python/system_related/snort3/logs
python/system_related/snort3/config
python/system_related/snort3/perf_files*
python/system_related/zeek/logs
python/system_related/zeek/config
python/system_related/zeek/perf_files*
